{% extends 'base.html' %}

{% block title %}Māori Dictionary | Home{% endblock %}

{% block heading %}Māori - English Dictionary{% endblock %}

{% block main %}
    <h3>Words in {{ current_cat }}</h3>
    <div id="word_table_div">
        <tabel>
            <tr>
                <th>Word in Māori</th>
                <th>Word in English</th>
                <th>Difficulty level</th>
                <th>Category</th>
                <th>Definition</th>
                <th>Image</th>
            </tr>
            {% for word in word_list %}
                <tr>
                    <td>{{ word[0] }}</td> <!-- mri_word -->
                    <td>{{ word[1] }}</td> <!-- eng_word -->
                    <td>{{ word[2] }}</td> <!-- level -->
                    <td>{{ word[3] }}</td> <!-- category -->
                    <td>{{ word[4] }}</td> <!-- definition-->
                    <td><img src={{ word[5] }}></td> <!-- image-->
                </tr>
            {% endfor %}
        </tabel>
    </div>

{% endblock %}
