{% extends 'base.html' %}

{% block title %}Māori Dictionary | Home{% endblock %}

{% block heading %}Māori - English Dictionary{% endblock %}

{% block main %}
    <div id="menu">
        {% for word in words %}
        <div class="product-box">
            <h3>{{ product[0] }}</h3>
            <p>{{ product[1] }}</p>
            <p><strong>Volume: </strong>{{ product[2] }}</p>
            <p><strong>Price: </strong>${{ product[4] }}</p>
            <p><img src="/static/images/{{ product[3] }}.jpg" alt="{{ product[3] }}"></p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
