{% extends 'base.html' %}

{% block title %}Māori Dictionary | Home{% endblock %}

{% block heading %}Māori - English Dictionary{% endblock %}

{% block main %}
    <h3>Words in {{ current_cat_name }}</h3>
    <div id="word_table_div">
        <table>
            <tr>
                <th>Word in Māori</th>
                <th>Word in English</th>
                <th>Difficulty level</th>
                <th>Category</th>
                <th>Definition</th>
                <th>Image</th>
            </tr>
            {% for word in word_list %}
                <tr>
                    <td><a href="../word/{{ word[0] }}">{{ word[1] }}</a></td> <!-- mri_word -->
                    <td><a href="../word/{{ word[0] }}">{{ word[2] }}</a></td> <!-- eng_word -->
                    <td>{{ word[3] }}</td> <!-- level -->
                    <td>{{ word[4] }}</td> <!-- category -->
                    <td>{{ word[5] }}</td> <!-- definition -->
                    {% if word[6] != None %}
                        <td><img src="{{ url_for('static', filename="/images/" + word[6])}}" alt=""></td> <!-- image -->
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
